.container{
    margin:10px 0;
    width: 1300px;

}

.card {
    margin: 0 2% !important;
}

.interview{
    border-bottom:10px solid rgba(0,0,255,0.5);
}
.week{
    border-bottom:10px solid rgba(0,255,0,0.5);
}
.company{
    border-bottom:10px solid rgba(255,0,0,0.5);
}

